table{
    border-collapse: collapse;
    border: 1px solid black;
}
table tr td{
    border-right: 1px solid black;
    padding: .25em .25em;
}
.trhead{
    background-color: lightskyblue;
}
button{
    background-color: red;
}